This is the page for creating a project. <br>

<button id = "b"> + </button>

<form action = "\process_project" method = "GET">
  <div>
    Title:
    <input type = "text" name = "title">
    <p> Member 0:
    <input type = "text" name = "member_0">
    </p>
  </div>
  <div>
    <input type = "submit" value = "Submit">
  </div>
</form>

<script>
var count_members = 0;

var button = document.getElementById("b");

var add_member = function(e) {
  count_members++;

  var node = document.createElement("p");
  node.innerHTML = "Member " + count_members + ": "
  form = document.createElement("input");
  node.appendChild(form);
  form.setAttribute("name", "member_" + count_members);
  document.getElementsByTagName("div")[0].appendChild(node);
}

button.addEventListener("click", add_member);

</script>
<a href = "/"> Back to main page </a>
