<!DOCTYPE html>
<html>
   <head>
   </head>
   <body>
     <h2> Register </h2>
     <form action = "\auth_register" method = "GET">
       Username:
       <br>
       <input type = "text" name = "username">
       <br>
       Password:
       <br>
       <input type = "text" name = "password">
       <br>
       Full name:
       <br>
       <input type = "text" name = "full_name">
       <br>
       <input type = "submit" value = "Submit">
     </form>
   </body>
</html>

<a href = "/"> To login </a>
