{% if text %}
<h3>{{text}} </h3>
{% endif %}
You have {{crystalz}} Crystalz
{%  if not url %}
    Welcome to the Shop
    <br>
    <br>

    Here you can take a break from all your work and go through random reddit posts

    <br>
    <br>
    <form action = "/process_purchase" method = "GET">
        <div>
            <input type="radio" name = "item" value="Reddit 100"
            checked>
            <label for="huey">Reddit 100</label>
        </div>

        <div>
            <input type="radio" name = "item" value="Wikipedia 200">
            <label for="dewey">Wikipedia 200</label>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
    <br>
{% endif %}
<a href = "/"> Main </a>
